// Named Colors

$soft-pink: 			#C2474E;
$miami: 				#2F8E66;
$olive:					#5C501F;
$purple:				#4D194A;
$pink:					#A43773;


// Colors


$color-primary:			teal;
$color-secondary:		#CCCCCC;


$color-body:			#444;
$color-background:		#666;
$color-content:			#FFF;


$color-ui-primary:		geen;
$color-ui-secondary:	green;
//$color-ui-secondary:	darken( $color-secondary, 1% );


$color-ui-muted:		#F5F5F5;


$color-positive:		#917B4C;
$color-muted:			#F5F5F5;


$gold:					#917B4C;

$color-theme:			pink;

$color-link:			#FFFFFF;