.about {
	background: #444444;
}

.projects {
	background: #EBEDEF;
}

.testimonials {
	background: #D9DADA;
}

.contact {
	background: #7DAF9D;
}

.colophon {
	background: #444444;
}

.section-title {
	margin-top: 0;
}